:root{

    --primary:#d81e5b;
    --dark:#131a26;
    --light:#eee;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Fira Sabs', sans-serif;
}

.App{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-size: 400% 400%;
    position: relative;
    background: radial-gradient(circle at 64.69% 9.63%, #c3b53a 0, #cdae34 5.56%, #d6a62f 11.11%, #de9c2b 16.67%, #e5912a 22.22%, #ea852b 27.78%, #ef772d 33.33%, #f16731 38.89%, #f35436 44.44%, #f23c3c 50%, #f01843 55.56%, #ed004c 61.11%, #e90057 66.67%, #e30063 72.22%, #db0071 77.78%, #d10080 83.33%, #c5008f 88.89%, #b6009f 94.44%, #a300af 100%);

}

.calculator{
    width:150%;
    max-width:400px;
    background-color:#FFF;
    border-radius:30px;
    overflow: hidden;
}

.display{
    padding:14px;
    text-align:right;
    background-color:var(--dark);
    color:var(--light);
    font-size:30px;
    font-weight:300;
    
}
/* 
.display span{
    font-size:14px;
    color:#888;
} */

button{
    appearance: none;
    border: none;
    outline: none;
    color:var(--light);
    font-size: 20px;
    padding: 15px;
    cursor: pointer;
    transition: 0.4s;
}

button:hover{
    opacity:0.9;
}

.operadores{
    display: flex;
}

.operadores button{
    flex:1 1 0%;
    background-color:var(--primary);
    font-weight:300;
}

.digitos{
    display:flex;
    flex-wrap: wrap;
}

.digitos button{
    flex: 1 1 33.333%;
    max-width: 33.333%;
    background-color:var(--dark);
}
